p {
	white-space:pre;
	margin:0px;
}
html, body {
    margin: 0;
}
div {
	border: 1px solid grey;
	background-color: white;
	float: left;
}
#left {
    margin: 5px;
}
#center {
    margin: 5px 0;
}
#right {
    margin: 5px;
}

pre {
	counter-reset: line !important;
}

code {
    counter-increment: line !important;
}

code:before{
    content: counter(line) !important;

      display: inline-block;
      border-right: 1px solid #ddd;
      padding: 0 .5em;
      margin-right: .5em;
      color: #888
}

code:before{
    -webkit-user-select: none !important;
}

